@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #efefef;
  --foreground: #000000;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #000000; */
/*     --foreground: #fafafa; */
/*   } */
/* } */

/* 한글 폰트 */
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/NotoSerifKR-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/NotoSerifKR-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/NotoSerifKR-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/NotoSerifKR-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/NotoSerifKR-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/NotoSerifKR-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/NotoSerifKR-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/NotoSerifKR-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

/* 영어 폰트 */
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/DMSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0031-0039, U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0031-0039, U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0031-0039, U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/DMSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  unicode-range: U+0031-0039, U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/DMSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  unicode-range: U+0031-0039, U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/DMSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  unicode-range: U+0031-0039, U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "LocalFonts";
  src: url("./fonts/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  unicode-range: U+0031-0039, U+0041-005A, U+0061-007A;
}

.localFonts {
  font-family: "LocalFonts";
  font-weight: 400;
  unicode-range: U+0041-005A, U+0061-007A;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.markdown {
  max-width: 700px;
  margin: 0 auto;

  pre {
    margin-bottom: 64px;
    border-radius: 12px;
    padding: 24px 10px;
  }

  pre code {
    white-space: pre-wrap;
    font-size: 0.8rem;
  }

  h1,
  h2,
  h3,
  h4 {
    --optical-align: 2px;
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 1em;
    scroll-margin-top: 7rem;
    font-weight: 700;
  }

  h1 {
    font-size: calc(40 / 16 * 1rem);
  }

  h2 {
    font-size: calc(32 / 16 * 1rem);
  }

  h3 {
    font-size: calc(24 / 16 * 1rem);
  }

  p {
    margin-bottom: 1.25em;
  }

  ol,
  ul {
    margin-bottom: 2rem;
  }

  div {
    margin-bottom: 2rem;
  }
}
