.gridWrap {
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}

.gridStack {
  width: 100%;
  container-type: inline-size;
}

.grid {
  --grid-cols: 4;
  --grid-gap: 8px;
  --cell-size: calc((100cqw - (var(--grid-cols) - 1) * var(--grid-gap)) / var(--grid-cols));
  display: grid;
  gap: var(--grid-gap);
  grid-auto-rows: var(--cell-size);
}

.desktopGrid {
  display: none;
  --grid-gap: 4px;
}

.mobileGrid {
  display: grid;
}

@media (min-width: 900px) {
  .desktopGrid {
    display: grid;
  }

  .mobileGrid {
    display: none;
  }
}
